@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=oswald');

html , body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-size: 16px;
}
.intro{
	height: 100%;
	width: 100%;
	margin: auto;
	background:url(http://static.pexels.com/photos/26206/pexels-photo.jpg) no-repeat 50% 50%;
	display:table;
	top: 0;
	background-size: cover;

}

.intro .inner{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

.content{
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}

.content h1{
	font-family: 'Raleway' , sans-serif;
	color: #F9F3F4;
	text-shadow: 0px 0px 300px #000;
	font-size: 400%;

}

.content  img{
	cursor: pointer;
}

img:hover{
	transform: scale(1.15);
	transition: 2s;
	
	transform: rotate(360deg) scale(1.15);
	transition: 2s;
}

.btn{
	border-radius: 9px;
	font-family: 'oswald' , sans-serif;
	color: #036A81;
	font-size: 105%;
	padding: 10px 20px;
	border:solid #036A81 3px;
	text-transform: uppercase;
	text-decoration: none;
}

.btn:hover{

	color: #fff;
	border:solid #fff 3px;
}
@media screen and (max-width: 768px){
	.content h1{
		font-size: 250%;
	}
	.btn{
		font-size: 90%;
		padding: 7px 15px;
	}

}



